<!DOCTYPE html>
<html>
<head>
    <#include "/header.html">
        </head>
<body>
<div v-cloak class="aui-wrapper aui-page__iframe">
    <div class="aui-content__wrapper">
        <div class="aui-content">
            <el-card shadow="never" class="aui-card--fill">
                <div class="mod-tron__transrecord">
                    <el-form :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
                        <el-form-item>
                            <el-select clearable v-model="dataForm.returnWinStatus" placeholder="返奖状态">
                                <el-option label="返奖失败" value="0"></el-option>
                                <el-option label="返奖成功" value="1"></el-option>
                                <el-option label="不返奖" value="2"></el-option>
                                <el-option label="处理中" value="3"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-select clearable v-model="dataForm.settleStatus" placeholder="结算状态">
                                <el-option label="未结算" value="0"></el-option>
                                <el-option label="已结算" value="1"></el-option>
                                <el-option label="处理中" value="3"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-button @click="getDataList()">{{ $t('query') }}</el-button>
                        </el-form-item>
                        <!--<el-form-item>
                            <el-button type="info" @click="exportHandle()">{{ $t('export') }}</el-button>
                        </el-form-item>
                        <el-form-item>
                            <el-button v-if="$hasPermission('tron:transrecord:save')" type="primary" @click="addOrUpdateHandle()">{{ $t('add') }}</el-button>
                        </el-form-item>
                        <el-form-item>
                            <el-button v-if="$hasPermission('tron:transrecord:delete')" type="danger" @click="deleteHandle()">{{ $t('deleteBatch') }}</el-button>
                        </el-form-item>-->
                    </el-form>
                    <el-table v-loading="dataListLoading" :data="dataList" border @selection-change="dataListSelectionChangeHandle" style="width: 100%;">
                        <!--<el-table-column type="selection" header-align="center" align="center" width="50"></el-table-column>-->
                        <!--<el-table-column prop="recordId" label="主键字段" header-align="center" align="center"></el-table-column>-->
                        <el-table-column prop="tronTxId" label="下注交易id" header-align="center" align="center" width="100" show-overflow-tooltip="true"></el-table-column>
                        <el-table-column prop="tronBlockHash" label="区块哈希" header-align="center" align="center" width="100" show-overflow-tooltip="true"></el-table-column>
                        <el-table-column prop="backTronTxId" label="返奖交易id" header-align="center" align="center" width="100" show-overflow-tooltip="true"></el-table-column>
                        <el-table-column prop="memberWalletAddress" label="会员钱包" header-align="center" align="center" width="320"></el-table-column>
                        <el-table-column prop="systemBackWalletAddress" label="出账钱包" header-align="center" align="center" width="320"></el-table-column>
                        <el-table-column prop="systemWalletAddress" label="下注钱包" header-align="center" align="center" width="320"></el-table-column>
                        <el-table-column prop="gameType" label="游戏类型" header-align="center" align="center" width="80">
                            <template slot-scope="scope">
                                <el-tag v-if="scope.row.gameType === 1" size="small" type="success">单双哈希</el-tag>
                                <el-tag v-if="scope.row.gameType === 2" size="small" type="success">大小哈希</el-tag>
                                <el-tag v-if="scope.row.gameType === 3" size="small" type="success">庄闲哈希</el-tag>
                                <el-tag v-if="scope.row.gameType === 4" size="small" type="success">幸运哈希</el-tag>
                                <el-tag v-if="scope.row.gameType === 5" size="small" type="success">十倍对子</el-tag>
                                <el-tag v-if="scope.row.gameType === 6" size="small" type="success">百倍豹子</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column prop="transType" label="交易类型" header-align="center" align="center" width="80"></el-table-column>
                        <el-table-column prop="betAmount" label="下注金额" header-align="center" align="center" width="80"></el-table-column>
                        <el-table-column prop="betTime" label="下注时间" header-align="center" align="center" width="160"></el-table-column>
                        <el-table-column prop="blockTime" label="出块时间" header-align="center" align="center" width="160"></el-table-column>
                        <el-table-column prop="betMultiple" label="赔率" header-align="center" align="center" width="80"></el-table-column>
                        <el-table-column prop="chargeRatio" label="手续费(%)" header-align="center" align="center" width="100"></el-table-column>
                        <el-table-column prop="winStatus" label="中奖状态" header-align="center" align="center" width="200">
                            <template slot-scope="scope">
                                <el-tag v-if="scope.row.winStatus === 1" size="small" type="success">已中奖</el-tag>
                                <el-tag v-if="scope.row.winStatus === 2" size="small" type="success">未中奖且不返回</el-tag>
                                <el-tag v-if="scope.row.winStatus === 3" size="small" type="success">未中奖有返还</el-tag>
                                <el-tag v-if="scope.row.winStatus === 4" size="small" type="success">低于限额不开奖</el-tag>
                                <el-tag v-if="scope.row.winStatus === 5" size="small" type="success">高于限额不开奖</el-tag>
                                <el-tag v-if="scope.row.winStatus === 6" size="small" type="success">金额个位数无效不开奖</el-tag>
                                <el-tag v-if="scope.row.winStatus === 7" size="small" type="success">手动禁用</el-tag>
                                <el-tag v-if="scope.row.winStatus === 8" size="small" type="success">会员禁用</el-tag>
                                <el-tag v-if="scope.row.winStatus === 9" size="small" type="success">系统禁用</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column prop="settleStatus" label="结算状态" header-align="center" align="center" width="80">
                            <template slot-scope="scope">
                                <el-tag v-if="scope.row.settleStatus === 0" size="small" type="success">未结算</el-tag>
                                <el-tag v-if="scope.row.settleStatus === 1" size="small" type="success">已结算</el-tag>
                                <el-tag v-if="scope.row.settleStatus === 3" size="small" type="success">处理中</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column prop="settleAmount" label="结算金额" header-align="center" align="center" width="80"></el-table-column>
                        <el-table-column prop="returnWinStatus" label="返奖状态" header-align="center" align="center" width="80">
                            <template slot-scope="scope">
                                <el-tag v-if="scope.row.returnWinStatus === 0" size="small" type="success">返奖失败</el-tag>
                                <el-tag v-if="scope.row.returnWinStatus === 1" size="small" type="success">返奖成功</el-tag>
                                <el-tag v-if="scope.row.returnWinStatus === 2" size="small" type="success">不返奖</el-tag>
                                <el-tag v-if="scope.row.returnWinStatus === 3" size="small" type="success">处理中</el-tag>
                                <el-tag v-if="scope.row.returnWinStatus === 4" size="small" type="success">广播中</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column prop="remark" label="备注" header-align="center" align="center" width="100" show-overflow-tooltip="true"></el-table-column>
                        <el-table-column prop="createTime" label="创建时间" header-align="center" align="center" width="260"></el-table-column>
                        <el-table-column prop="createUser" label="创建用户" header-align="center" align="center" width="80"></el-table-column>
                        <el-table-column prop="updateTime" label="更新时间" header-align="center" align="center" width="260"></el-table-column>
                        <el-table-column prop="updateUser" label="更新用户" header-align="center" align="center" width="80"></el-table-column>
                        <el-table-column prop="transferTime" label="出账时间" header-align="center" align="center" width="260"></el-table-column>
                        <el-table-column :label="$t('handle')" fixed="right" header-align="center" align="center" width="100">
                            <template slot-scope="scope">
                                <el-button v-if="$hasPermission('tron:transrecord:reward') && scope.row.returnWinStatus === 0" type="text" size="small" @click="reward(scope.row.recordId)">返奖</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination
                            :current-page="page"
                            :page-sizes="[10, 20, 50, 100]"
                            :page-size="limit"
                            :total="total"
                            layout="total, sizes, prev, pager, next, jumper"
                            @size-change="pageSizeChangeHandle"
                            @current-change="pageCurrentChangeHandle">
                    </el-pagination>
                    <!-- 弹窗, 新增 / 修改 -->
                    <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refresh-data-list="getDataList"></add-or-update>
                </div>
            </el-card>
        </div>
    </div>
</div>
<#include "/footer.html">
    <script src="${request.contextPath}/statics/js/modules/tron/transrecord.js?_${.now?long}"></script>
</body>
</html>
